In [7]:
import sqlite3

In [6]:
#1.
con = sqlite3.connect("students.db")
cur = con.cursor()
creat_table_statement = """CREATE TABLE IF NOT EXISTS students (
                    id INTEGER primary key unique,
                    name TEXT,
                    age INTEGER,
                    garde REAL
                    )"""
con.execute(creat_table_statement)
con.close()

In [8]:
#2.
con = sqlite3.connect("students.db")
cur = con.cursor()

def new_student(name, age, grade):
    insert_statement = """INSERT INTO students (name, age, garde) VALUES (?,?,?)"""
    data = (name, age, grade)
    cur.execute(insert_statement, data)
    con.commit()

while True:
    name = input("Enter student name: ")
    age = int(input("Enter student age: "))
    grade = float(input("Enter student grade: "))
    new_student(name, age, grade)
    if input("Do you want to add another student? (y/n): ") == 'n':
        con.close()
        break

In [20]:
#3.
con = sqlite3.connect("students.db")
cur = con.cursor()
garde_select = """SELECT * FROM students WHERE students.garde > 15"""
grade_data = cur.execute(garde_select).fetchall()
print(grade_data)
#use fetchall() to get all data
data = cur.execute("""SELECT * FROM students""").fetchall()
print(data)
con.close()

[(1, 'AmirHosein', 32, 20.0), (2, 'harry', 33, 16.0)]
[(1, 'AmirHosein', 32, 20.0), (2, 'harry', 33, 16.0), (3, 'ron', 27, 14.0), (4, 'hermione', 26, 13.0)]

In [22]:
#4.
con = sqlite3.connect("students.db")
cur = con.cursor()

def update_grade(id, grade):
    update_statements = """UPDATE students SET garde = ? WHERE id = ?"""
    data = (grade, id)
    cur.execute(update_statements, data)
    con.commit()
    print("Grade updated successfully...\n")
    con.close()

while True:
    id = int(input("Enter Studnet ID: "))
    grade = float(input("Enter new grade: "))
    update_grade(id, grade)
    if input("Do you want to update another student? (y/n): ") == 'n':
        con.close()
        break

Grade updated successfully...

In [23]:
#5.
con = sqlite3.connect("students.db")
cur = con.cursor()

def delete_students(id):
    delete_statement = """DELETE FROM students WHERE id = ?"""
    data = (id, )
    cur.execute(delete_statement, data)
    con.commit()
    print("Student deleted successfully...\n")

while True:
    id = int(input("Enter Studnet ID: "))
    delete_students(id)
    if input("Do you want to delete another student? (y/n): ") == 'n':
        con.close()
        break

Student deleted successfully...

In [30]:
#6.
con = sqlite3.connect("students.db")
cur = con.cursor()

def student_info(name):
    select_statement = """SELECT * FROM students WHERE name = ?"""
    data = (name, )
    result = cur.execute(select_statement, data).fetchall()
    print(result)
    con.close()

name = input("Enter student name: ")
student_info(name)

[(2, 'harry', 33, 20.0)]

In [34]:
#7.
con = sqlite3.connect("students.db")
cur = con.cursor()

avg_statement = """SELECT AVG(garde) FROM students"""
avg_grade = cur.execute(avg_statement)
print(avg_grade.fetchone())
con.close()

(15.333333333333334,)