In [1]:
a = [4,5,8,7,6,4,22]
result = 1
for item in a:
    result *= item
result

591360

In [2]:
a = [4,5,8,7,6,6,6,7,7,8,8,1,5,4,22]
result = []
for item in a:
    if item not in result:
        result.append(item) 
result

[4, 5, 8, 7, 6, 1, 22]

In [4]:
a = [4,5,8,7,6,6,6,7,7,8,8,1,5,4,22]
b = [4,22,8,'gh','r',40]
result = []
for item in b:
    if item in a and item not in result:
        result.append(item)
result

[4, 22, 8]

In [5]:
a = [4,5,8,7,6,6,6,7,7,8,8,1,5,4,22]
b = [4,22,8,'gh','r',40]
result = []
for item in a:
    if item not in b:
        result.append(item)
for item in b:
    if item not in a:
        result.append(item)
result

[5, 7, 6, 6, 6, 7, 7, 1, 5, 'gh', 'r', 40]

In [10]:
a = [4,1,3,2,5,8,7,6,6,6,7,7,7,8,8,1,1,5,4,22]
for item in a:
    if item%2 == 1:
        a.remove(item)
a

[4, 3, 2, 8, 6, 6, 6, 7, 8, 8, 1, 4, 22]

In [ ]:
a = [4,1,3,2,5,8,7,6,6,6,7,7,7,8,8,1,1,5,4,22]
for item in a:
    if item%2 == 1:
        a.append(item)
a

In [11]:
c = [5,4,3]
x = c

In [12]:
x[0] = 500

In [13]:
x.append(200)

In [14]:
c

[500, 4, 3, 200]

In [15]:
a = 2
b = a

In [16]:
b += 2
a

2

In [17]:
b

4

In [18]:
c = [5,4,3]
x = c[:]

In [19]:
x.append(200)
c

[5, 4, 3]

In [20]:
a = c.copy()

In [21]:
c = [5,4,[8,9,10],50]
a = c.copy()

In [22]:
c.append(1000)
a

[5, 4, [8, 9, 10], 50]

In [24]:
a[2].append(5000)

In [25]:
a

[5, 4, [8, 9, 10, 5000], 50]

In [26]:
c

[5, 4, [8, 9, 10, 5000], 50, 1000]

In [27]:
from copy import deepcopy
a = deepcopy(c)

In [28]:
a

[5, 4, [8, 9, 10, 5000], 50, 1000]

In [29]:
a[2].remove(5000)
a

[5, 4, [8, 9, 10], 50, 1000]

In [30]:
c

[5, 4, [8, 9, 10, 5000], 50, 1000]

In [31]:
from copy import copy

In [32]:
c = [5,4,3]
x = c

In [33]:
id(c)

2684166379968

In [34]:
id(x)

2684166379968

In [35]:
id(x) ==id(c)

True

In [36]:
x = c.copy()
id(x)

2684166563136

In [37]:
d = [4,6,1,-9,10]

In [40]:
sorted(d)

[-9, 1, 4, 6, 10]

In [42]:
f = sorted(d)

In [43]:
id(d)

2684166624320

In [44]:
d.sort()

In [45]:
d

[-9, 1, 4, 6, 10]

In [46]:
id(d)

2684166624320

In [47]:
d

[-9, 1, 4, 6, 10]

In [48]:
c

[5, 4, 3]

In [49]:
a = d+c
a

[-9, 1, 4, 6, 10, 5, 4, 3]

In [50]:
d.extend(c)

In [51]:
d

[-9, 1, 4, 6, 10, 5, 4, 3]

In [52]:
t = (4,5,10,20)

In [53]:
len(t)

4

In [54]:
sorted(t)

[4, 5, 10, 20]

In [55]:
t[0]

4

In [61]:
t[0:2]

(4, 5)

In [62]:
t[60]

IndexError: tuple index out of range

In [63]:
t

(4, 5, 10, 20)

In [64]:
t[0] = 40

TypeError: 'tuple' object does not support item assignment

In [65]:
for i in t:
    print(i)

4
5
10
20

In [66]:
t.count(10)

1

In [67]:
t.index(20)

3

In [68]:
h = (4,5,[10,20],30)

In [69]:
h[2].append(1000)

In [70]:
h

(4, 5, [10, 20, 1000], 30)

In [71]:
h[2] = [10, 20, 1000]

TypeError: 'tuple' object does not support item assignment

In [80]:
persons = ["ali",'negar','saeed']
age = [20,30,30]
list(zip(persons, age))

[('ali', 20), ('negar', 30), ('saeed', 30)]

In [74]:
for item in zip(persons, age):
    print(item)

('ali', 20)
('negar', 30)
('saeed', 30)

In [75]:
name, age = ('ali', 20)

In [76]:
name

'ali'

In [77]:
age

20

In [78]:
s = 5,6,9,10
s

(5, 6, 9, 10)

In [83]:
for k,v in zip(persons, age):
    print(k)

ali
negar
saeed

In [84]:
tuple(zip(persons, age))

(('ali', 20), ('negar', 30), ('saeed', 30))

In [85]:
s = {5,4,5,6,8,4,7,8,8,8,8}
s

{4, 5, 6, 7, 8}

In [86]:
set([5,4,5,6,5,45,5])

{4, 5, 6, 45}

In [87]:
{4, 5, 6, 45} == {45, 5, 6, 4}

True

In [88]:
d = set([5,4,5,6,5,45,5])

In [89]:
d.intersection(s)

{4, 5, 6}

In [90]:
d.union(s)

{4, 5, 6, 7, 8, 45}

In [91]:
d - s

{45}

In [92]:
shop = {
    'apple':'3 kg',
    'chips':2,
    'milk':4
}

In [93]:
type(shop)

dict

In [94]:
shop['chips']

2

In [95]:
shop['chips'] += 10
shop

{'apple': '3 kg', 'chips': 12, 'milk': 4}

In [96]:
shop['yogurt'] = '2 kg'
shop

{'apple': '3 kg', 'chips': 12, 'milk': 4, 'yogurt': '2 kg'}

In [97]:
shop['a'] += 5

KeyError: 'a'

In [98]:
shop['a']

KeyError: 'a'

In [100]:
shop = {
    'apple':'3 kg',
    'chips':2,
    'milk':4,
    'chips':3,
}

In [101]:
shop

{'apple': '3 kg', 'chips': 3, 'milk': 4}

In [102]:
'milk' in shop

True

In [106]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result = {}
for i in vowel:
        result[i] = 0
for i in s:
    if i in vowel:
        result[i] += 1
result

{'a': 20, 'e': 20, 'u': 7, 'i': 33, 'o': 30}

In [108]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result2 = {}

for i in s:
    if i in vowel:
        if i not in result2:
            result2[i] = 0
        result2[i] += 1
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [109]:
result2 == result

True

In [110]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result2 = {}

for i in s:
    if i in vowel:
        result2.setdefault(i,0)
        result2[i] += 1
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [111]:
h = [4,5,8]
h[1]

5

In [112]:
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [113]:
result2['o']

30

In [114]:
x = {'name':'saeed','age':20}

In [116]:
x['age'] += 1

In [117]:
x

{'name': 'saeed', 'age': 21}

In [118]:
x['lname'] = 'hoseini'

In [119]:
x

{'name': 'saeed', 'age': 21, 'lname': 'hoseini'}

In [120]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result2 = {}

for i in s:
    if i in vowel:
        result2.setdefault(i,0)
        result2[i] += 1
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [122]:
result2.setdefault('o', 50)
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [121]:
if 'o' not in result2:
            result2['o'] = 50
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [123]:
result2.setdefault('b', 50)
result2

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7, 'b': 50}

In [126]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result2 = {}

for i in vowel:
        result2[i] = s.count(i)
result2

{'a': 20, ',': 1, 'e': 20, 'u': 7, 'i': 33, ' ': 59, 'o': 30}

In [127]:
s.count('a')

20

In [128]:
result2['a'] = s.count('a')

In [129]:
result2.setdefault('b', 50)
result2

{'a': 20, ',': 1, 'e': 20, 'u': 7, 'i': 33, ' ': 59, 'o': 30, 'b': 50}

In [130]:
result2.setdefault('o', 500)
result2

{'a': 20, ',': 1, 'e': 20, 'u': 7, 'i': 33, ' ': 59, 'o': 30, 'b': 50}

In [131]:
s = '''Python dictionary methods is collection of Python functions that operates on Dictionary.
Python Dictionary is like a map that is used to store data in the form of a key: value pair. 
Python provides various built-in functions to deal with dictionaries.
 In this article, we will see a list of all the functions provided by 
 Python to work with dictionaries.'''

vowel = 'aeuio'
result2 = {}

for i in s:
        result2[i] = s.count(i)
result2

{'P': 5,
 'y': 10,
 't': 33,
 'h': 13,
 'o': 30,
 'n': 21,
 ' ': 59,
 'd': 10,
 'i': 33,
 'c': 11,
 'a': 20,
 'r': 14,
 'm': 3,
 'e': 20,
 's': 17,
 'l': 12,
 'f': 7,
 'u': 7,
 'p': 5,
 'D': 2,
 '.': 4,
 '\n': 4,
 'k': 3,
 ':': 1,
 'v': 4,
 'b': 2,
 '-': 1,
 'w': 5,
 'I': 1,
 ',': 1}

In [132]:
s.split()

['Python',
 'dictionary',
 'methods',
 'is',
 'collection',
 'of',
 'Python',
 'functions',
 'that',
 'operates',
 'on',
 'Dictionary.',
 'Python',
 'Dictionary',
 'is',
 'like',
 'a',
 'map',
 'that',
 'is',
 'used',
 'to',
 'store',
 'data',
 'in',
 'the',
 'form',
 'of',
 'a',
 'key:',
 'value',
 'pair.',
 'Python',
 'provides',
 'various',
 'built-in',
 'functions',
 'to',
 'deal',
 'with',
 'dictionaries.',
 'In',
 'this',
 'article,',
 'we',
 'will',
 'see',
 'a',
 'list',
 'of',
 'all',
 'the',
 'functions',
 'provided',
 'by',
 'Python',
 'to',
 'work',
 'with',
 'dictionaries.']

In [133]:
len(s.split())

60

In [135]:
date = '1403/08/16'
date.split('/')[1]

'08'

In [136]:
d = date.split('/')
d

['1403', '08', '16']

In [140]:
'-*-'.join(d)

'1403-*-08-*-16'

In [142]:
result

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}

In [143]:
for k in result:
    print(k)

o
i
a
e
u

In [144]:
for k in result:
    print(result[k])

30
33
20
20
7

In [145]:
result.keys()

dict_keys(['o', 'i', 'a', 'e', 'u'])

In [146]:
result.values()

dict_values([30, 33, 20, 20, 7])

In [147]:
result.items()

dict_items([('o', 30), ('i', 33), ('a', 20), ('e', 20), ('u', 7)])

In [149]:
e = list(result.items())
e

[('o', 30), ('i', 33), ('a', 20), ('e', 20), ('u', 7)]

In [150]:
dict(e)

{'o': 30, 'i': 33, 'a': 20, 'e': 20, 'u': 7}